<!-- favorite nav -->
<nav>

    <div class="logo">
      <a href="/"><h1>MEAL<span id="logoSpan">123</span></h1></a>
    </div>

    <div class="favoriteNav">

      <% if user_signed_in? %>

              <a href="/profiles"><img src="/assets/home_icon.jpg" alt="home"></a>

              <a href="/list"><img src="/assets/list_icon.jpg" alt="grocery list"></a>

              <a href="/settings"><img src="/assets/setting_icon.jpg" alt="settings"></a>

      <% end %>
    </div>
</nav>

<div class="favoriteRecipes">

    <!-- breakfast -->
    <div class="recipeContainer">


        <div class="recipeImgContainer" id="breakfast">

        </div>

          <div class="recipeContent">

            <p class="recipeH2">Breakfast</p>

            <h5 class="recipeP"><a href="#" class="profileA">Blueberry Oatmeal</a></h5>

          </div>

    </div>


    <!-- Lunch -->
    <div class="recipeContainer">

        <div class="recipeImgContainer" id="lunch">

        </div>

        <div class="recipeContent">

          <p class="recipeH2">Lunch</p>

          <h5 class="recipeP"><a href="#" class="profileA">Egg Salad Sandwich</a></h5>

        </div>

    </div>


    <!-- dinner -->
    <div class="recipeContainer">

        <div class="recipeImgContainer" id="dinner">

        </div>

        <div class="recipeContent">

          <p class="recipeH2">Dinner</p>

          <h5 class="recipeP"><a href="#" class="profileA">Grilled Steak</a></h5>

        </div>

    </div>


    <!-- dessert -->
    <div class="recipeContainer">

        <div class="recipeImgContainer" id="dessert">

        </div>

        <div class="recipeContent">

          <p class="recipeH2">This Week's Dessert</p>

          <h5 class="recipeP"><a href="#" class="profileA">Raspberry Key Lime Squares</a></h5>


        </div>

    </div>

</div>
