<!-- recipe nav -->
<nav>

    <div class="logo">
      <a href="/"><h1>MEAL<span id="logoSpan">123</span></h1></a>
    </div>

    <div class="favoriteNav">

      <% if user_signed_in? %>

              <a href="/profiles"><img src="/assets/home_icon.jpg" alt="home"></a>

              <a href="/list"><img src="/assets/list_icon.jpg" alt="grocery list"></a>

              <a href="/favorites"><img src="/assets/favorite_icon.jpg" alt="favorites"></a>

              <a href="/settings"><img src="/assets/setting_icon.jpg" alt="settings"></a>

      <% end %>
    </div>
</nav>

<body id="recipeBody">


  <div class="recipeShowContainer">

    <div class="recipeShowImg">
    </div>

      <div id="recipeName">
        <h2 id="recipeNameH2">Norwegian Meatballs</h2>
      </div>

      <div class="recipeDetails">

          <div class="recipeCategory">
            <h3 class="recipeH4">Ingredients</h3>
              <ul class="recipeUl">
                <li>2 eggs, lightly beaten</li>
                <li>1 cup milk</li>
                <li>1 cup dry bread crumbs</li>
                <li>1/2 cup finely chopped onion</li>
                <li>2 teaspoons salt</li>
                <li>2 teaspoons sugar</li>
                <li>1/2 teaspoon each ground ginger, nutmeg and allspice</li>
                <li>1/4 teaspoon pepper</li>
                <li>2 pounds extra-lean ground beef (95% lean)</li>
                <li>1 pound ground pork</li>
                <li>2 tablespoons finely chopped onion</li>
                <li>3 tablespoons butter</li>
                <li>5 tablespoons all-purpose flour</li>
                <li>4 cups beef broth</li>
                <li>1/2 cup heavy whipping cream</li>
                <li>Dash cayenne pepper</li>
                <li>Dash white pepper</li>
              </ul>
          </div>
          
          <br>
          <hr>

          <div class="recipeCategory">
            <h3 class="recipeH4">directions</h3>
              <ol class="recipeOl">
                <li>In a large bowl, combine the eggs, milk, bread crumbs, onion and seasonings. Let stand until crumbs absorb milk. Add meat; stir until well blended. Shape into 1-in. meatballs.</li>

                <li>Place meatballs on a greased rack in a shallow baking pan. Bake at 400° until browned, about 18 minutes or until a thermometer reads 160°; drain. Set aside.</li>

                <li>For gravy, in a large skillet, saute onion in butter until tender. Stir in flour and brown lightly. Slowly add broth; cook and stir until smooth and thickened. Blend in the cream, cayenne and white pepper. Gently stir in meatballs; heat through but do not boil.</li>

              </ol>
          </div>
  </div>
</body>
