<div class="carousel">
  <ul id="slides">
    <li class="slide1"><%= image_tag("/assets/slideImg1.jpg", class: "img1") %></li>
    <li class="slide"></li>
    <li class="slide"></li>
  </ul>
</div>

<div class="carouselContent">
  <h1 id="carH1">Tired of <br>Ordering Out?</h1>

  <%= form_tag(new_user_registration_path, :method => :get) do %>
    <%= submit_tag "Sign Up!", class: "btn", id: "hb2"%>
  <% end %>
</div>
