<div class="carousel">
  <ul id="slides">
    <li class="slide1"></li>
    <li class="slide"></li>
    <li class="slide"></li>
  </ul>
</div>

<div class="carouselContent">
  <h1>Tired of Ordering Out?</h1>
  <p>Meal123 makes meal planning a breeze!</p>

  <%= form_tag(new_user_registration_path, :method => :get) do %>
    <%= submit_tag "sign up", class: "btn", id: "hb2"%>
  <% end %>
</div>
