<!-- setting nav -->
<nav>
    <div class="logo">
      <a href="/"><h1>MEAL<span id="logoSpan">123</span></h1></a>
    </div>

    <div class="settingNav">

      <% if user_signed_in? %>

              <a href="/profiles"><img src="/assets/home_icon.jpg" alt="home"></a>

              <a href="/favorites"><img src="/assets/favorite_icon.jpg" alt="favorites"></a>

              <a href="/list"><img src="/assets/list_icon.jpg" alt="list"></a>

              <!-- log out button -->
              <% if user_signed_in? %>
                  <div class="settingLogOut">
                      <%= form_tag(destroy_user_session_path, :method => :delete) do %>
                        <%= submit_tag "Logout", class: "logOutBtn"%>
                      <% end %>
                  </div>
              <% end %>

      <% end %>
    </div>
</nav>

<div class="settingsContainer">

    <div class="settingForms" id="dietPreferences">

        <h2 class="settingH">Preferences</h2>

    </div>


    <div class="settingForms" id="editUser">

        <h2 class="settingH">Edit Account</h2>

    </div>

</div>
