// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#hb2 {
 margin: 10px;
 background-color: #4BB74C;
 color: white;
 width: 130px;
 height: 45px;
 border-radius: 10px;
 border: 1px solid #43a344;
 font-size: 18px;
}

#hb2:hover {
 background-color: #8ada8b;
 border: 1px solid #8ada8b;
}


/* Larger than mobile */

@media (min-width: 400px) {

// carousel styling
  .carousel {
    position: relative;
    top: 30px;
    z-index: 0;
  }

  .carouselContent {
    position: relative;
    height: 568px;
    width: 400px;
    top: -350px;
    text-align: center;
    color: white;
  }

  #slides {
    position: relative;
    height: 568px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
  }

  .slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    transition: opacity 1s;
  }

  .slide1 {
    opacity: 1;
    z-index: 2;
  }

  .img1 {
    position: relative;
    left: -240px;
    width: 750px;
    height: 568px;
  }


  // sign up button
  #hb2 {

  }

  #carH1 {
    font-size: 44px;
    text-shadow: 1px 1px #8A8A8A;
  }
}

/* Larger than phablet */

@media (min-width: 550px) {

}

/* Larger than tablet */

@media (min-width: 750px) {

}

/* Larger than desktop */

@media (min-width: 1000px) {

}

/* Larger than desktop HD*/

@media (min-width: 1200px) {

}
